<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Zandy Pizzas</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <header class="navbar">
        <div class=" container flex">
            <h2>Zandy Pizzas</h2>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class="current"><a href="/orders">Orders</a></li>
                </ul>

            </nav>
        </div>

    </header>

    <section class="allOrder"> 
        <div class="container orders">
        <h3 class="strOrder">Orders</h3>

        <div class="display-orders">
            <table>
                <tr>
                    <th>Order No.</th>
                    <th>Order Status</th>
                    <th>Units</th>
                    <th>Price</th>
                </tr>
                

                {{#each orderList}}
                    <tr>
                        <td>#<span>{{orderId}}</span></td>
                        <td>{{status}}</td>
                        <td>{{items}}</td>
                        <td>R<span>{{amount}}</span></td>
                    </tr>

                {{/each}}
            </table>
        </div>

    
    </div>
    </section>
    
	
</body>
</html>