<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Zandy Pizzas</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <header class="navbar">
        <div class=" container flex">
            <h2>Order Summary</h2>

        </div>
    </header>

    <section class="allOrder"> 
        <div class="container single-order">
        <h3>Last/Your Order</h3>

        <table>
            <tr>
                <td><strong>Order No.</strong></td>
                <td># <span>{{theOrder.orderId}}</span></td>
            </tr>
            <tr>
                <td><strong>Units</strong></td>
                <td>{{theOrder.items}}</td>
            </tr>
            <tr>
                <td><strong>Price</strong></td>
                <td>{{theOrder.amount}}</td>
            </tr>
            <tr>
                <td><strong>Order Status</strong></td>
                <td>{{theOrder.status}}</td>
            </tr>
        </table>

        <a href="/" class="buyBtn">Order Again</a>
        <a href="/orders" class="buyBtn">View Orders</a>

    </div>
    </section>