@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

body {
	padding: 0;   
	margin: 0;
	background-color: #00cc99ff;
	font-family: 'Lato', Helvetica, sans-serif;
}

/* UTILITIES */

.container {
  max-width: 1024px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 25px;
}

.flex {
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

/* HEADER... */

.navbar  {
    height: 55px;
    border-bottom: 0.1px #2191fbff solid;
}

.navbar .flex{
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
	list-style: none;
}

.navbar a, .info a, .single-order a {
    padding: 10px;
    margin: 0 5px;
	text-decoration: none;
}

.navbar a {
	color: black;
}

.navbar a:hover {
    border-bottom: 3px white solid;
    font-weight: bold;
}

.current a {
    color: white;
}

/* SHOWCASE PIZZA */

.info{
	margin: 7.5px;
}

.pizza-pic img{	
	float: left;
	width: 4em;
	margin: 5px 20px 5px 5px;
}

.pizza-info {
	clear: left;
	margin-left: 10px;
}

.small-pizza {
	background-color: #E03571;
}

.medium-pizza {
	background-color: #E2AE3D;
}

.large-pizza {
	background-color: #E06733;
}

.flex-item {
	flex: 1;
	margin: 5px;
	border-radius: 7.5px;
	padding: 6px;
}

.buyBtn, .shopBtn {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #2191fbff;
    border-radius: 0.25em;
    margin: 1%;
	color: snow;
	font-size: 1em;
}

.buyBtn:hover {
    transform: scale(0.90);
}

.unitText {
	margin: 0px 2.5px;
}

/* SHOWCASE CART */

.pizza-cart {
	width: 50%;
	margin: auto;
	text-align: center;
	background-color: #f7f7f7ff;
	border-radius: 7.5px;
}

.entry h4 {
	margin: 0 0 3.5px 0;
	color: crimson;
}

.small-text, .medium-text, .large-text, .total-text {
	justify-content: space-between;
	padding: 5px;
	width: 75%;
	margin: auto;
}

.small-text h4, .medium-text h4, .large-text h4, .total-text h4 {
	margin: 2px;
}

.total-text{
	border-top: 0.5px #2191fbff solid;
}

.units {
	flex: 2;
}

.text, .prices {
	flex: 1;
}

.text {
	text-align: left;
}

.prices {
	text-align: right;
}

.orderBtn {
	margin: 7.5px;
}

.btn {
	padding: 10px;
	margin: 5px;
	font-size: 1em;
	background-color: #2191fbff;
	border-radius: 0.25em;
	border: 0 solid snow;
	color: snow;
}

.btn:hover {
	transform: scale(1.1);
}

/* ORDERS SCREEN */

.strOrder {
	margin: 15px 25px;
}

.display-orders {
	width: 85%;
	min-height: 45ch;
	max-height: 60ch;
	margin: auto;
	padding: 15px;
	text-align: center;
	background-color: #f7f7f7ff;
	border-radius: 7.5px;
	text-align: center;
}

.shop-link {
    text-align: center;
	margin: 10px 0 5px 0;
}

.shop-link a {
	text-decoration: none;
	padding: 8.5px 12.5px;
}

th {
    border: 1px #2191fbff solid;
    border-collapse: collapse;
	padding: 5px;
	font-size: 1em;
}

table, td {
    padding: 7px;
}

table {
    width: 80%;
	margin: auto;
}

.order-table {
	height: 70%;
}

.table-wrapper {
  position:relative;
}

.table-scroll {
  height:48ch;
  overflow:auto;  
  margin-top:20px;
}

.table-wrapper table {
  width:100%;

}

/* ORDER SUMMARY */

.single-order {
	width: 65%;
	min-height: 30ch;
	margin: auto;
	padding: 15px;
	text-align: center;
	background-color: #f7f7f7ff;
	border-radius: 7.5px;
	margin-top: 20px;
}

/* MEDIA QUERY */

@media screen and (max-width:716px) {
    .showcase-pizza .flex {
		flex-direction: column;
	}

	.showcase-cart .pizza-cart {
		width: 80%;
		
	}

}

@media screen and (max-width: 433px) {
	.container {
		padding: 0 10px;
	}

	.navbar {
        height: auto;
    }

    .navbar .flex {
        flex-direction: column;
    }
    .navbar ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 5px;
        min-height: 50px;
        background-color: rgb(0, 0, 0, 0.1);
        border-radius: 5px;
        border: 0.5px solid #2191fbff;
    }
    
    .navbar a {
        padding: 10px;
        margin: 0 5px;
    }
    
    .navbar a:hover {
        border-bottom: 3px solid white;
        font-weight: bold;
    }
    
    .current a {
        color: white;
    }

    .navbar h3 {
        text-align: center;
    }

	.display-orders {
		width: 97.5%;
	}
	
}